# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
build/
dist/
.eggs/
*.egg-info/

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# Docker
*.log
docker-compose.override.yml

# Simulation data
simulation_data/



# Misc
*.bak
*.swp
*.tmp 

analysis_results/
simulation_data/
